* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Slabo 27px', serif;
  background-color: #e7e7e7;
}

header {
  position: absolute;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

a:hover {
  text-decoration: line-through;
}

p {
  font-size: 15px;
}

li {
  list-style: none;
}

img {
  width: inherit;
  max-width: 100%;
  height: auto;
}

.slider {
  overflow: hidden;
}

.pages {
  width: 400%;
}

.page {
  width: 25%;
  float: left;
}

.welcome-site {
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.welcome-title {
  font-size: 40px;
  width: 100%;
  padding: 20% 0 0;
}

.projects {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  position: absolute;
  left: 0;
}

.about {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  right: 0;
}

.container-contact {
  margin: 0 auto;
  text-align: center;
  background-color: #0faa8c;
  width: 70%;
  margin: 15% 15% 0;
  color: #fff;
  overflow: auto;
  position: relative;
}

.photo-contact img {
  display: inline-block;
  width: 50%;
  float: left;
}

.info-contact {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 40%;
  margin: 20px;
}

.info-contact h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.info-contact h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.social-logos {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: left;
  padding: 0 0 20px 45px;
}

.social-logos a {
  width: 7%;
}

.social-logos li {
  display: inline;
  margin: 5px;
}

.portfolio-page {
  width: 100%;
}

.project-section {
  display: inline-block;
  width: 49vw;
  height: 100vh;
}

.project-info {
  display: inline-block;
  height: 100%;
  background-color: #BA183D;
  color: #fff;
}

.project-info img, .project-info p {
  margin: 70% 5% 0;
  font-size: 1.8em;
}

.project-poster {
  width: 45%;
  vertical-align: top;
}

.project-description {
  width: 54%;
}

.projects-list {
  background-color: #fff;
  vertical-align: top;
}

.projects-list ul {
  margin: 40% 15% 0;
}

.projects-list li {
  cursor: pointer;
  font-size: 4em;
}

.projects-list li:hover {
  text-decoration: line-through;
}
