@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Slabo 27px', serif;
  font-size: 15px;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  display: inline-block;
}

img {
  width: inherit;
  max-width: 100%;
  height: auto;
}

header {
  position: relative;
}

header img {
  width: 5%;
  position: absolute;
  left: 45%;
  top: 40px;
}

.nav-header {
  text-align: right;
}

.nav-header li {
  display: inline-block;
  margin: 1%;
}

.titles {
  text-align: center;
  margin-top: 5%;
}

.nav-item {
  color: #a8a8a8;
  font-size: 20px;
}

.nav-item:hover {
  color: #000;
}

.selected {
  color: #000;
  border-bottom: 2px solid #000;
}

.projects {
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  position: relative;
}

.description-project {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  text-align: left;
  color: #000;
}

.description-project h3 {
  border-bottom: 2px solid #000;
  margin: 0 0 20px 0;
}

.description-project a {
  color: #000;
  font-size: 20px;
  display: inline-block;
}

.img-container img {
  display: inline-block;
  width: 25%;
}

.margin-left {
  margin-left: 20px;
}

.margin-right {
  margin-right: 20px;
}

.git-logo {
  width: 2%;
  position: absolute;
  bottom: 0;
}

.about-title {
  padding-bottom: 30px;
}

.container-contact {
  margin: 0 auto;
  text-align: center;
  background-color: #0faa8c;
  width: 70%;
  padding: 50px 0;
  color: #fff;
  overflow: auto;
  position: relative;
}

.photo-contact img {
  display: inline-block;
  width: 50%;
  float: left;
}

.info-contact {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 40%;
  margin: 20px;
}

.info-contact h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.info-contact h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.social-logos {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: left;
  padding: 0 0 20px 45px;
}

.social-logos a {
  width: 7%;
}

.social-logos li {
  display: inline;
  margin: 5px;
}

.people-say {
  padding: 50px;
  margin: 0 auto;
  text-align: center;
}

.people-say h2 {
  font-size: 40px;
  margin: 50px;
}

.people {
  margin: 50px;
}

.person {
  width: 25%;
  border: 1px solid #a8a8a8;
  text-align: left;
  background-color: #fff;
  padding: 20px;
  margin: 0 20px;
}

.person h3 {
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
}

.person h4 {
  display: inline-block;
  margin: 20px;
}

.info-person {
  width: 10%;
}

.photo-person {
  width: 10%;
}
