.portfolio-page {
	width: 100%;
}


.project-section {
	display: inline-block;
	width: 49vw;
	height: 100vh;
}

.project-info {
	display: inline-block;
	height: 100%;
	background-color: #BA183D;
	color: #fff;

	img, p {
		margin: 70% 5% 0;
		font-size: 1.8em;
	}
}

.project-poster {
	width: 45%;
	vertical-align: top;
}

.project-description {
	width: 54%;
}

.neurocity-display {

}

.projects-list {
	background-color: #fff;
	vertical-align: top;

	ul {
		margin: 40% 15% 0;
	}

	li {
		cursor: pointer;
		font-size: 4em;

		&:hover {
			text-decoration: line-through;
		}
	}
}